html,body{
    height:98%;
    margin: 10px;
}

.div-full-height{    
   height:  100%;
}

.no-space{
    margin:0; 
    padding:0;
}

.scrollable{
    overflow-y: auto;
}


.list-group .list-group-separator:before { 
  float: left;
}

