html,body{
    height:98%;
    width: 99%;
    padding-right:3px;
    padding-left: 3px; 
    
}

.div-full-height{    
   height:  100%;
}

.no-space{
    margin:0; 
    padding:0;
}

.scrollable{
    overflow-y: auto;
}

.parent-container{
    margin-top: 15px;
       
}

.list-group .list-group-separator:before { 
  float: left;
  margin-bottom : 5px;
  margin-top : 1px;  
}

.list-box{
    padding-top:5px ;
    padding-bottom:5px;
}

.menu-btn{
    padding: 5px 0px 5px 0px;
    margin: 3px;
}

.component-container{
margin-top: 15px;
}

.quantity-textbox{
     height: 23px;
     width: 50px;
     text-align: center;
     font-style: italic;
     font-size: 14px;

}