html,body{
    height:95%;
    margin: 10px;
}

.div-full-height{    
   height: 100%;
}

.div-half-height{    
   height: 50%;
}


.no-space{
    margin:0; 
    padding:0;
}

.scrollable{
    overflow-y: auto;
}

.flex-container {
   
    display: -webkit-flex;
    display: flex;      
    flex-direction:column;
    width: 100%;
    height: 100%;
}

.flex-item {         
     margin:10px;
     height: 100%;
     width:100%;
}

.number-textbox{
    margin: 0;
    padding: 0;  
    width: 60px;     
    text-align:center;
}

